# ReThink Media Twitter API: Tutorial and Examples

This notebook will provide a user manual and example use cases for using ReThink Media's Twitter API functions. The functions in this notebook will provide the capabilities to:
- Search Tweets relevant to a query, over different time periods
- Save Tweets and Tweet metadata to a .csv file for later reference and use
- Create wordclouds for frequent keywords and hashtags
- Create plots of Tweet counts over time, with adjustable titles and axes

As an example use case for these functions, this notebook will compare the discussions around the coming out of two transgender celebrities: Caitlyn Jenner and Elliot Page.

## Defining Functions

The first part of this notebook is dedicated to defining and explaining the functions mentioned above, with the example use case to follow.

### Authentication & Utility Functions

The `init_api_1()`, `init_api_2()`, and `tweet_df()` functions are utility functions that are embedded within the main ones.

The `init_api` functions initialize Twitter API v1.1 and v2 instances, and they do not take any arguments.

The `tweet_df()` function aggregates Tweet data into a pandas DataFrame, and its arguments are:
- `df`: An empty DataFrame with columns for the relevant data gathered by the pipeline.
- `response`: A Twitter API v2 response object, created through tweepy functions.
- `tweet_fields`: A list of the Tweet data fields retrieved through the Twitter API. Some examples include `public_metrics` (e.g., likes, retweets), `entities` (e.g., hashtags), and `attachments` (e.g., picture id's)

**IMPORTANT NOTE:** The Twitter API requires API keys and other authentication tokens in order to function properly. A user must have a Twitter Developer account with these keys available in order to use the functions in this notebook. If you have these keys available, create a text file named `.env` in the home folder for your notebook environment with the following format:

```
API_KEY="your_api_key"
API_KEY_SECRET="your_secret_api_key"
BEARER_TOKEN="your_bearer_token"
ACCESS_TOKEN="your_access_token"
ACCESS_SECRET="your_secret_access_token"
```

### Tweet Search Functions

The Twitter API has different limits on how many API requests a user can make and how many Tweets they can receive, depending on how far back the user wants to search. For this reason, there are three different Tweet search functions, and the user should choose the function that best fits their use case:

- `search_7()`: Search Tweets within the past 7 days. Unlimited API requests, 500,000 Tweets per month.
- `search_30()`: Search Tweets within the past 30 days. 250 API requests, 25,000 Tweets per month.
- `search_full()`: Search Tweets from the full archive. 50 API requests, 5,000 Tweets per month.

The Twitter API also has a limit of 100 API requests per 15-minute interval, regardless of which function is used. If the quota runs out, the functions will wait until the time limit resets, and then continue collecting Tweets.

The arguments for these functions are:
- `query`: The query to search the Twitter API for
- `start_date`: The date to start the search (default `None`). If `None`, the function will default to 7 days ago.
- `end_date`: The date to end the search (default `None`). If `None`, the function will default to today.
- `max_results`: The maximum amount of Tweets to return in the DataFrame (default 20).
- `write_csv`: Boolean, whether to save the DataFrame as a csv file or not. Default `False`.
- `filename`: Filename for the csv if `write_csv` is `True`. Default name is `search_7.csv`, `search_30.csv`, or `search_full.csv`, depending on the function used.

### Wordclouds

This function creates wordclouds for frequent words and hashtags in Tweet data. To avoid making any unnecessary API calls, this function takes the DataFrame created from the search functions as an input. The arguments for this function are:

- `df`: DataFrame of Tweet data, created from one of the Tweet search functions defined above.
- `query`: The query used to create `df`. If passed into the function, `query` is added to the stop words for the word cloud, so they aren't added to the cloud.
- `save_imgs`: Boolean, whether to save the images to a file or not. The filenames will be `wordcloud.png` and `hashtags.png` in the current working directory.

### Attention Over Time Plots

This function plots the volume of tweets relevant to a query over time. Similar to the wordcloud function, this function avoids additional API calls and takes the DataFrame from the Tweet search functions as an input. The user can adjust aspects of the plot to fit different use cases, such as the title, plot type, and x-axis labels. The arguments for this function are:

- `df`: DataFrame of Tweet data, created from one of the Tweet search functions defined above.
- `query`: The query used to create `df`. If passed into this function, adds a subtitle to the plot with the query.
- `title`: The title of the plot. The default is "Tweet count over time"
- `xlabel`: "month", "year", or "day" (default "month"). Granularity of ticks and labels on the x-axis.
- `plot_type`: "line" or "bar" (default "line"). Choose between line or bar plot for attention over time.
- `figsize`: Default (10,5). Size of the figure outputted by this function.

## Example Use Case: Caitlyn Jenner & Elliot Page

The rest of the notebook will walk through an example use case for these functions: comparing the discussions around Caitlyn Jenner and Elliot Page when they came out as transgender. The example will use all of the functions defined above as a simple baseline for users to see how they work and what their outputs are.

In [10]:
# importing functions from rethink_twitter_functions.py
from rethink_twitter_functions import *

# importing a module so we can time how long the functions take
import time

# defining some search strings for the API queries
query1 = '"elliot page" OR "ellen page"'
query1_label = "Elliot Page"
query2 = '"caitlyn jenner" OR "bruce jenner"'
query2_label = "Caitlyn Jenner"

### 7-Day Search: Current Relevance

We can get an initial idea about the difference in how these two celebrities are viewed by looking at what people are saying about them. We can use the `search_7()` function to see how people are talking about these celebrities right now.

In [11]:
# running and timing the search_7 function for Elliot Page 
start = time.time()
query1_7 = search_7(query1, max_results=2000, write_csv=True)
end = time.time()

print(f"Time taken: {(end-start)/60} min")
print(f'{query1_label} mentioned {len(query1_7)} times')
query1_7.head()

Time taken: 0.3357257088025411 min
Elliot Page mentioned 2006 times

,text,attachments,author_id,context_annotations,conversation_id,created_at,entities,geo,in_reply_to_user_id,lang,referenced_tweets,followers_count,verified,entities_hashtags,retweet_count,reply_count,like_count,quote_count,total_engagements
Tweet ID,,,,,,,,,,,,,,,,,,,
1466515423394885634,RT @chaac__: มีใครขาย เอลเลียต เพจ(Elliot Page...,None,4897558551,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466515423394885634,2021-12-02 21:11:38+00:00,"{'mentions': [{'start': 3, 'end': 11, 'usernam...",None,None,th,"[(type, id)]",209,False,None,1226,0,0,0,1226
1466514923056361472,RT @chaac__: มีใครขาย เอลเลียต เพจ(Elliot Page...,None,120176922,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466514923056361472,2021-12-02 21:09:38+00:00,"{'mentions': [{'start': 3, 'end': 11, 'usernam...",None,None,th,"[(type, id)]",500,False,None,1226,0,0,0,1226
1466513603243085827,Dick from Elliot Page,None,1135064703724474368,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466513603243085827,2021-12-02 21:04:24+00:00,"{'annotations': [{'start': 10, 'end': 20, 'pro...",None,None,en,None,58,False,None,0,0,0,0,0
1466512203666837507,RT @LabelFreeBrands: Look who’s in another one...,None,1457827845464526849,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466512203666837507,2021-12-02 20:58:50+00:00,"{'annotations': [{'start': 50, 'end': 60, 'pro...",None,None,en,"[(type, id)]",73,False,None,55,0,0,0,55
1466512169189711878,@JackPosobiec Elliot Page may have an egg or two,None,379252378,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466508176442937348,2021-12-02 20:58:42+00:00,"{'annotations': [{'start': 14, 'end': 24, 'pro...",None,592730371,en,"[(type, id)]",391,False,None,0,0,0,0,0

In [12]:
# showing samples of tweets within DataFrame
query1_sample = query1_7.sample(n=10)
num_tweets = 1
for tweet in query1_sample.text:
    print(f"Tweet {num_tweets}:")
    print(tweet,"\n")
    num_tweets += 1

Tweet 1:
RT @reystarkiller_: Parece que editaram o Elliot Page na foto para ficar pequeno kkkkkk https://t.co/eRb8c8GNtJ

Tweet 2:
I LOVE ELLEN PAGE SHE LOOKS SO YOUNG AND ISNT DEAD INSIDE ENOUGH TO FUCK WITH ME

Tweet 3:
RT @mmashmelody: คุณ Elliot Page ค่ะ♥ เป็น transgender และ non-binary ผลงานคือเรื่อง inception / umbrella academy / เป็นโมเดล Jodie ใน Beyo…

Tweet 4:
RT @chaac__: มีใครขาย เอลเลียต เพจ(Elliot Page)  รึยังคะ เราชอบเขาในบท Ariadne จาก inception(2010) เอลเลียตเป็นทรานส์แมนค่ะ รูปแรกจากในหนัง…

Tweet 5:
RT @chaac__: มีใครขาย เอลเลียต เพจ(Elliot Page)  รึยังคะ เราชอบเขาในบท Ariadne จาก inception(2010) เอลเลียตเป็นทรานส์แมนค่ะ รูปแรกจากในหนัง…

Tweet 6:
RT @PinkNews: Elliot Page radiating awesome trans joy for past year has helped people like me feel seen https://t.co/iO1NEKZmWs

Tweet 7:
RT @chaac__: มีใครขาย เอลเลียต เพจ(Elliot Page)  รึยังคะ เราชอบเขาในบท Ariadne จาก inception(2010) เอลเลียตเป็นทรานส์แมนค่ะ รูปแรกจากในหนัง…

Tweet 8:
RT @chaac__: มีใครขาย เอลเลียต เพจ(Elliot Page)  รึยังคะ เราชอบเขาในบท Ariadne จาก inception(2010) เอลเลียตเป็นทรานส์แมนค่ะ รูปแรกจากในหนัง…

Tweet 9:
RT @chaac__: มีใครขาย เอลเลียต เพจ(Elliot Page)  รึยังคะ เราชอบเขาในบท Ariadne จาก inception(2010) เอลเลียตเป็นทรานส์แมนค่ะ รูปแรกจากในหนัง…

Tweet 10:
RT @mmashmelody: คุณ Elliot Page ค่ะ♥ เป็น transgender และ non-binary ผลงานคือเรื่อง inception / umbrella academy / เป็นโมเดล Jodie ใน Beyo…

In [13]:
# running and timing the search_7 function for Caitlyn Jenner
start = time.time()
query2_7 = search_7(query2, max_results=2000, write_csv=True)
end = time.time()

print(f"Time taken: {(end-start)/60} min")
print(f'{query2_label} mentioned {len(query2_7)} times')
query2_7.head()

Time taken: 0.3103897531827291 min
Caitlyn Jenner mentioned 2008 times

,text,attachments,author_id,context_annotations,conversation_id,created_at,entities,geo,in_reply_to_user_id,lang,referenced_tweets,followers_count,verified,entities_hashtags,retweet_count,reply_count,like_count,quote_count,total_engagements
Tweet ID,,,,,,,,,,,,,,,,,,,
1466514260243230729,@TheGreyWolf17 @kitkat_MACK @ToCricklewood @Re...,None,1457826130610868228,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466469808543838212,2021-12-02 21:07:00+00:00,"{'hashtags': [{'start': 721, 'end': 727, 'tag'...",None,1328582889966080001,en,"[(type, id)]",592,False,[Jesus],0,0,1,0,1
1466513800463622144,@moss_is_swag @musacaeleste @takenknj @chrissy...,None,331077078,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466468408116105230,2021-12-02 21:05:11+00:00,"{'mentions': [{'start': 0, 'end': 13, 'usernam...",None,1373326000570966024,en,"[(type, id)]",296,False,None,0,1,1,0,2
1466513792557322249,Ah maintenant c'est la faute des trans si le d...,None,90975840,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466513792557322249,2021-12-02 21:05:09+00:00,None,None,None,fr,None,290,False,None,0,0,0,0,0
1466513646327148550,@kitkat_MACK @TheGreyWolf17 @ToCricklewood @Re...,"{'media_keys': ['3_1466513633358323713', '3_14...",1457826130610868228,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466469808543838212,2021-12-02 21:04:34+00:00,"{'urls': [{'start': 727, 'end': 750, 'url': 'h...",None,1442561302530985987,en,"[(type, id)]",592,False,None,0,0,1,0,1
1466513592887377921,@CheechLeaks @kitkat_MACK @ToCricklewood @Real...,None,1328582889966080001,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466469808543838212,2021-12-02 21:04:21+00:00,"{'mentions': [{'start': 0, 'end': 12, 'usernam...",None,1457826130610868228,en,"[(type, id)]",3837,False,None,0,1,3,0,4

In [14]:
# showing samples of tweets within DataFrame
query2_sample = query2_7.sample(n=10)
num_tweets = 1
for tweet in query2_sample.text:
    print(f"Tweet {num_tweets}:")
    print(tweet,"\n")
    num_tweets += 1

Tweet 1:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Tweet 2:
@darnelljsmith08 @USAttyHurst @USAO_NV @POTUS @BofA_News @BankofAmerica @CashApp @bankofengland @neeratanden @Google @FBILasVegas @FBIWFO @FBILosAngeles @FBI @kobebryant @DhallTheKing @KimKardashian @kingsthings @BTCTN @Cashplus @CapitalOneBiz @Caitlyn_Jenner @JColeNC @nojumper @JussieSmollett @sarahjessicaparker @iamkristindavis @cynthiaenixon @kimcattrall @justlikethatmax

Tweet 3:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Tweet 4:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Tweet 5:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Tweet 6:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Tweet 7:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Tweet 8:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Tweet 9:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Tweet 10:
RT @NoLieWithBTC: Donald Trump, Caitlyn Jenner, Herschel Walker... and now Dr. Oz.

The Republican Party is the party of washed up celebrit…

Both Caitlyn Jenner and Elliot Page have been mentioned over 2,000 times in the past week. From the samples that we've displayed, it also seems like Elliot is held in much higher regard than Caitlyn on Twitter. We only display 10 samples for each celebrity though, so the samples may not be representative of the rest of the population.

### 30-Day Search: Names and Deadnames

We can get an idea of how much these two celebrities' gender identities are respected by looking at how many times they are referenced by their "deadname." A deadname is the birth name that a transgender person drops when they transition, often in favor of a name that fits their gender identity. We can use the `search_30()` function to get an idea about how Elliot and Caitlyn are viewed in the public eye and whether their gender identities are respected by looking to see how often they've been deadnamed in the past month.

In [9]:
# running and timing the search_30 function for Elliot Page 
start = time.time()
query1_30 = search_30('"ellen page"', max_results=2000, write_csv=True)
end = time.time()

print(f"Time taken: {(end-start)/60} min")
print(f'{query1_label} has been deadnamed {len(query1_30)} times')
query1_30.head()

Time taken: 0.1435913642247518 min
Elliot Page has been deadnamed 628 times

,text,attachments,author_id,context_annotations,conversation_id,created_at,entities,geo,in_reply_to_user_id,lang,referenced_tweets,followers_count,verified,entities_hashtags,retweet_count,reply_count,like_count,quote_count,total_engagements
Tweet ID,,,,,,,,,,,,,,,,,,,
1466489349164437507,"RT @Iamthisnotthat1: Also,just 1 year before t...",None,19744643,None,1466489349164437507,2021-12-02 19:28:01+00:00,"{'mentions': [{'start': 3, 'end': 19, 'usernam...",None,None,en,"[(type, id)]",2979,False,None,5,0,0,0,5
1466489244172623882,"RT @Iamthisnotthat1: After she started ""lookin...",None,19744643,None,1466489244172623882,2021-12-02 19:27:36+00:00,"{'mentions': [{'start': 3, 'end': 19, 'usernam...",None,None,en,"[(type, id)]",2979,False,None,11,0,0,0,11
1466489214883803137,RT @Iamthisnotthat1: And it began from the ver...,None,19744643,None,1466489214883803137,2021-12-02 19:27:29+00:00,"{'mentions': [{'start': 3, 'end': 19, 'usernam...",None,None,en,"[(type, id)]",2979,False,None,10,0,0,0,10
1466488710455775237,"RT @Iamthisnotthat1: After she started ""lookin...",None,57437691,None,1466488710455775237,2021-12-02 19:25:29+00:00,"{'mentions': [{'start': 3, 'end': 19, 'usernam...",None,None,en,"[(type, id)]",773,False,None,11,0,0,0,11
1466488661483171847,RT @Iamthisnotthat1: And it began from the ver...,None,57437691,None,1466488661483171847,2021-12-02 19:25:17+00:00,"{'mentions': [{'start': 3, 'end': 19, 'usernam...",None,None,en,"[(type, id)]",773,False,None,10,0,0,0,10

In [2]:
# running and timing the search_30 function for Caitlyn Jenner 
start = time.time()
query2_30 = search_30('"bruce jenner"', max_results=2000, write_csv=True)
end = time.time()

print(f"Time taken: {(end-start)/60} min")
print(f'{query2_label} has been deadnamed {len(query2_30)} times')
query2_30.head()

Time taken: 0.4880508780479431 min
Caitlin Jenner has been deadnamed 2000 times

,text,attachments,author_id,context_annotations,conversation_id,created_at,entities,geo,in_reply_to_user_id,lang,referenced_tweets,followers_count,verified,entities_hashtags,retweet_count,reply_count,like_count,quote_count,total_engagements
Tweet ID,,,,,,,,,,,,,,,,,,,
1466484900270333962,@AltcoinGordon thats William Bruce Jenner,None,1032666738,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466145889274245123,2021-12-02 19:10:20+00:00,"{'mentions': [{'start': 0, 'end': 14, 'usernam...",None,1354400126857605121,en,"[(type, id)]",199,False,None,0,0,0,0,0
1466483547557048323,@whatgives1313 kinda of like the Bruce Jenner ...,None,1392487271824334857,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466469850151362574,2021-12-02 19:04:58+00:00,"{'mentions': [{'start': 0, 'end': 14, 'usernam...",None,1116213423266648064,en,"[(type, id)]",16,False,None,0,0,0,0,0
1466473583077560323,@RealAmerican_2 Jack Posobiec supported Bruce ...,None,1422641449997193218,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466268632317628417,2021-12-02 18:25:22+00:00,"{'mentions': [{'start': 0, 'end': 15, 'usernam...",None,1434909779248525324,en,"[(type, id)]",390,False,None,0,0,1,0,1
1466452715333115912,@JackPosobiec Oz is a less weird Bruce Jenner,None,486457068,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466451759874854915,2021-12-02 17:02:27+00:00,"{'mentions': [{'start': 0, 'end': 13, 'usernam...",None,592730371,en,"[(type, id)]",66,False,None,0,0,0,0,0
1466450972390174723,@sassytallblond Basketballs answer to Bruce Je...,{'media_keys': ['3_1466450970670424076']},2172733325,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1466313036885544960,2021-12-02 16:55:31+00:00,"{'urls': [{'start': 90, 'end': 113, 'url': 'ht...",None,1320210348226564096,en,"[(type, id)]",252,False,None,0,0,1,0,1

In the past month, Elliot Page has been deadnamed a little over 600 times, and Caitlyn Jenner has been deadnamed 2,000 times or more (keep in mind that both of them have been mentioned over 2,000 times in the past week alone). From this, we can see that people on social media respect Elliot Page's identity much more than Caitlyn Jenner's, even though Elliot Page has been out as transgender for a shorter time frame. From the sample tweets that we displayed above, it seems like many of the tweets are openly disrespecting Caitlyn's gender identity, sometimes as a way to criticize her character or past actions. This large difference illuminates what could be a key difference in these celebrities' reputations: Caitlyn was around 60 years old when she came out, and had a long-established history as an Olympic athlete and a part of the Kardashian family. She's also been embroiled in multiple controversies, and is disliked by many people online. Elliot Page, on the other hand, is in his early 30's, and was already established and adored as an LGBTQ+ actor before he came out of the closet. The public reactions to these celebrities coming out and the extent to which people on social media respect their gender identities may differ in a large part due to the audiences that they have gathered over their careers, as well as their overall reputation in the public eye (although gender identity should be respected for everyone, regardless of one's character or career path).

### Full Archive Search: Word Clouds

Let's take a look at the public reaction when Caitlyn and Elliot came out of the closet. Both of these celebrities have been out for quite a while now, so we'll have to use the `search_full()` function to reach further back in the Twitter archive and retrieve Tweets on the specific days around each celebrities' public coming out. Then, we'll pass those responses into the `word_cloud()` function in order to see some common words and hashtags that were used when people talked about them on Twitter.